<div class="container">
    <div class="form-container">
        <div class="title">Login</div>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <mat-form-field appearance="outline">
                <mat-label>Enter email</mat-label>
                <input matInput formControlName="email">
                <mat-error *ngIf="loginForm.controls.email.invalid">
                    {{loginForm.controls.email.hasError('required')?'Email is required' : 'Please enter a valid email'}}
                </mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <mat-label>Enter password</mat-label>
                <input type="password" matInput formControlName="password">
                <mat-error *ngIf="loginForm.controls.password.invalid">
                    {{loginForm.controls.password.hasError('required')?'Password is required' : 'Password should be at least 6 characters long'}}
                </mat-error>
            </mat-form-field>
            <div class="buttons-container">
                <button [disabled]="loginForm.invalid" class="login-button" mat-raised-button>Login</button>
                <p>Don't have an account yet?</p>
                <button routerLink="/register" mat-button>Register</button>
            </div>
        </form>
        
    </div>
</div>
