<!-- <p>book-catalog works!</p> -->
<app-book-card></app-book-card>

  <!-- <div *ngFor="let book of booksData">
   
  <mat-card>
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>{{book.title}}</mat-card-title>
            <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
            <mat-card-subtitle>{{book.genre}}</mat-card-subtitle>
            <img mat-card-md-image>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>{{book.description}}</mat-card-content>
    <img mat-card-image src="/src/assets/images/book.png">
    <mat-card-actions align="start">
        <button mat-button>Edit</button>
        <button mat-button>Delete</button>
    </mat-card-actions> 
  </mat-card>
</div> -->
<!-- <div *ngFor="let book of booksData ; let i = index">

  <app-book-card></app-book-card>

</div> -->

<!-- <ul>
  <li *ngFor="let book of booksData">
    {{ book.$value }}
  </li>
</ul> -->
<!-- <mat-card>
<mat-card-header>
  <mat-card-title>Book Catalog</mat-card-title>
</mat-card-header>

<mat-card-content>
  <div *ngFor="let item of booksData | keyvalue">
    Key: <b>{{item.key}}</b> and Value: <b>{{item.value}}</b>
</div>  

</mat-card-content>
</mat-card> -->