
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <form #postForm="ngForm" (ngSubmit)="onCreateBook(postForm.value)">
        <!-- <form #form="ngForm" (ngSubmit)="onSubmit(form)"> -->
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            ngModel
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          <input
            type="text"
            class="form-control"
            id="author"
            required
            ngModel
            name="author"
          />
        </div>
        <!-- <div class="form-group">
          <label for="genre">Genre</label>
          <input
            type="text"
            class="form-control"
            id="genre"
            required
            ngModel
            name="genre"
          />
        </div> -->
        <div class="form-group">
          <label for="image">Image</label>
          <input
            type="text"
            class="form-control"
            id="image"
            required
            ngModel
            name="image"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            class="form-control"
            id="description"
            required
            ngModel
            name="description"
          ></textarea>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          
        >
          Add Book
        </button>
      </form>
    </div>
  </div>
 
</div>
